<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>마이페이지 | 이룸</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_page.css') }}">
</head>
<body>
  <header>
    <div class="title">
      <a href="{{ url_for('index') }}">이룸</a>
      <p>정리와 배치를 통해 완성된 공간</p>
    </div>
    <div class="sign">
      {% if 'user_id' in session %}
          <a href="{{ url_for('my_page') }}">
            {{ session['user_name'] }}님 마이페이지
          </a>
          <a href="{{ url_for('logout') }}" id="logoutBtn">로그아웃</a>
      {% else %}
          <a href="{{ url_for('login') }}">로그인</a>
          <a href="{{ url_for('sign_in') }}">회원가입</a>
      {% endif %}
    </div>
  </header>

  <form style="display: none;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  </form>

  <div class="mypage-container">
    {% if records %}
      {% for record in records %}
        <div class="record-card" 
            data-id="{{ record.id }}" 
            data-img="{{ record.image_path }}" 
            data-date="{{ record.upload_date }}" 
            data-score="{{ record.score }}" 
            data-comment="{{ record.comment }}">
          <img src="{{ url_for('static', filename=record.image_path) }}" alt="업로드 이미지">
          <div class="info">
            <div>{{ record.upload_date }}</div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h1 class="no-data">아직 평가 기록이 없습니다.</h1>
    {% endif %}
  </div>


  <!-- 팝업 모달 -->
  <div class="modal" id="detailModal">
    <div class="modal-content">
      <h2>상세 기록</h2>
      <img id="modalImage" src="" alt="">
      <p>업로드일: <span id="modalDate"></span></p>
      <p>정리점수: <span id="modalScore"></span></p>
      <p>비고: <span id="modalComment"></span></p>
      <button class="close-btn" id="closeModal">닫기</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/my_page.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logout.js') }}"></script>

</body>
</html>
