/* 결과 페이지 css */
.result-container {
  margin: 1vw 3vw 3vw 3vw;
  padding: 2vw;
  background: white;
  border-radius: 30px;
  font-family: 'NanumGothic', sans-serif;
}

.result-container h2 {
  font-family: 'Jua', sans-serif;
  font-size: 2.5vw;
  margin-bottom: 2vw;
}

.result-section p {
  font-size: 1.2vw;
}

.breakdown,
.feedback {
  margin-top: 1.5vw;
}

.breakdown h4,
.feedback h4,
.image-preview h4 {
  font-size: 2vw;
  margin-bottom: 0.8vw;
}

.breakdown ul,
.feedback ul {
  list-style-type: disc;
  padding-left: 2vw;
  font-size: 1.6vw;
}

details.foldable {
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f7f7f7;
  border-radius: 8px;
  cursor: pointer;
}

details.foldable summary {
  font-weight: bold;
  font-size: 2.05em;
  cursor: pointer;
}

#scoreGauge {
  width: 300px;
  height: 150px;
  display: block;
  margin-right: auto;
}